<div class="col-md-6 col-md-offset-3">
      <h1>Vehicle Description</h1>

 

          <h3>Name: <%= @car.name %></h3>
          <h3>Model: <%= @car.make %></h3>
          <h4>Drive: <%= @car.drive %></h4>
          <h4>Description: <%= @car.description %></h4>          

      

        <% if @car.user_id == current_user.id %>
          <%= link_to "Edit", edit_car_path%>
          <%= link_to "Delete", car_path(@car), method: :delete %>
        <% end %>

        <h4>Reviews</h4>
        <p><%= render @car.reviews %></p>
 

        <%= link_to "Add a New Review", new_car_review_path(@car)%>

  </div>