<!DOCTYPE html>
<html>
  <head>
    <title>Prime Motor Group</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/nav" %>
    <% if logged_in? %>

  <div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Car Make
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dLabel">
      <% Line.all.each do |line| %>
        <li><%= link_to line.name, cars_path(line: line.name), class: "link"%></li>
      <% end %>
    </ul>
  </div>

        <li><%= link_to "Add Your Car", new_car_path %></li>
        <li><%= link_to "All Car Makes", car_make_cars_path %></li>
        <li><%= link_to "Reviewed Cars", reviewed_cars_path %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% end %>

<!-- Bootsrap way of deploying flashes -->
  <div class="container"> 
    <% flash.each do |key, value| %>
     <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <div class="container">
    <%= yield %> 
  </div>

    <footer class="page-footer font-small blue fixed-bottom">
      <% if current_user.present? %>
        <p> Logged in as:<%= current_user.email %> </p>
      <% end%>

    </footer>

  </body>
</html>